<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}
    <script src="https://kit.fontawesome.com/a5f5612be0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="p-3 text-bg-dark fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ url_for('home') }}"
               class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{{ url_for('static', filename='images/header_logo.png') }}" alt="header logo">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('explore') }}" class="explore_header_link nav-link px-2 text-white">Explore</a>
                </li>
                <li><a href="{{ url_for('contact') }}" class="nav-link px-2 text-white">Contact</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex align-items-center" role="search" method="GET"
                  action="{{ url_for('explore') }}">
                <label class="cafe-search-label" for="cafe_search">Search</label>
                <input type="search" id="cafe_search" name="cafe_search"
                       class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                       aria-label="Search">
            </form>
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ current_user.avatar_url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li>
                        <p class="dropdown-item-text">
                            <b>
                                {% if current_user.name %}
                                {{ current_user.name }}
                                {% else %}
                                {{ current_user.email.split('@')[0] }}
                                {% endif %}
                            </b>
                        </p>
                    </li>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="{{ url_for('suggest_place') }}">Suggest Place</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                </ul>
            </div>
            {% else %}
            <div class="text-end">
                <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-warning">Sign-up</a>
            </div>
            {% endif %}

        </div>
    </div>
</header>
<div class="top-of-page"></div>
{% block content %}{% endblock %}
<footer>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary">Copyright © 2024 Designed and Developed by<br>Geoff Martin
      </span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li>
                    <a href="https://www.linkedin.com/in/geoffrey-martin-728174261/" class="social_media_icon"
                       target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/geoffm39" class="social_media_icon" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/chef_geoff.martin/" class="social_media_icon" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/geoff.martin.140/" class="social_media_icon" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</footer>
{% block scripts %}
{{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>