{% extends 'base.html' %}

{% block title %}Explore new Places{% endblock %}

{% block content %}
<div class="row px-4 py-3 my-5">
    {% for cafe in cafes %}
    <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-4 px-4">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="card">
                        <img src="{{ cafe.img_url }}"
                             class="card-img-top" alt="Cafe Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ cafe.name }}</h5>
                            <p class="card-text">{{ cafe.location }}</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="card">
                        <div class="card-body">
                            {% if cafe.average_rating %}
                                <h5 class="card-title">Rating: {{ cafe.average_rating }}</h5>
                            {% else %}
                                <h5 class="card-title">No ratings yet - rate this cafe!</h5>
                            {% endif %}
                            <p class="card-text">Wi-Fi: {{ cafe.has_wifi }}</p>
                            <p class="card-text">Sockets: {{ cafe.has_sockets }}</p>
                            <p class="card-text">Toilet: {{ cafe.has_toilet }}</p>
                            <p class="card-text">Can take calls: {{ cafe.can_take_calls }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}