{% extends 'base.html' %}

{% block title %}Explore new Places{% endblock %}

{% block content %}
<div class="container my-2">
    <button type="button" class="btn btn-warning">Filter</button>
</div>
<div class="row px-4 py-3">
    {% for cafe in cafes %}
    <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-4 px-4">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="card">
                        <img src="{{ cafe.img_url }}"
                             class="card-img-top" alt="Cafe Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ cafe.name }}</h5>
                            <p class="card-text">{{ cafe.location }}</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                {% if cafe.average_rating %}
                                <h5 class="card-title">Rating: {{ cafe.average_rating }}</h5>
                                {% else %}
                                <h5 class="card-title">No ratings yet - rate this cafe!</h5>
                                {% endif %}
                            </div>
                            <ul class="list-group list-group-flush flip-card-back-text">
                                <li class="list-group-item d-flex justify-content-between">
                                    Wi-Fi:
                                    <span>{{ cafe.has_wifi }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    Sockets:
                                    <span>{{ cafe.has_sockets }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    Toilet:
                                    <span>{{ cafe.has_toilet }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    Can take calls:
                                    <span>{{ cafe.can_take_calls }}</span>
                                </li>
                            </ul>
                            <div class="text-center">
                                <a href="{{ url_for('view_cafe', cafe_id=cafe.id) }}" class="btn btn-warning">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}