{% from "bootstrap5/form.html" import render_form %}
{% extends 'base.html' %}

{% block title %}Explore new Places{% endblock %}

{% block content %}
<div class="text-center m-5">
    <img src="{{ profile_image_url }}" alt="profile image" class="rounded-circle">
</div>
<div class="container">
    {{ render_form(profile_form, novalidate=True, button_style='btn btn-warning') }}
</div>
<div class="container">
    {{ render_form(password_form, novalidate=True, button_style='btn btn-warning') }}
</div>
{% endblock %}